In [1]:
import pandas as pd
import glob
import fnmatch
import os
import re

### To list all the files that I need look through

In [2]:
#filePath = ('data/course_*','data/user_*')
files = []
#for fp in filePath:
for filename in glob.glob('data/*.csv'):
    print filename
    files.append(filename)

data/course_article.csv
data/course_article_questions.csv
data/course_classroom.csv
data/course_course.csv
data/course_course_units.csv
data/course_match.csv
data/course_match_student_match.csv
data/course_progress.csv
data/course_question.csv
data/course_questionresponse.csv
data/course_questionresponse_new_response.csv
data/course_questionresponse_new_subresponse.csv
data/course_resource.csv
data/course_subquestionresponse.csv
data/course_unit.csv
data/course_unit_articles.csv
data/course_unit_resources.csv
data/course_video.csv
data/user_app_address.csv
data/user_app_customuser.csv
data/user_app_customuser_user_permissions.csv
data/user_messages_message.csv
data/user_messages_room.csv
data/user_messages_room_new_message.csv
data/user_messages_room_subscribers.csv

### To see what thoes files are

In [11]:
def printFile(filePath):
    with open(filePath,'r') as f:
        #data = pd.read_csv(f,delim_whitespace=True,header=None,error_bad_lines=False)
        data = pd.read_csv(f)
        print "=================",filePath,"================="
        #print "summary:\n",data.describe(),"\n\nhead:"
        print data.head(),'\n'
        #return data

In [4]:
printFile(files[0])

================= data/course_article.csv =================
    id                                   title  \
0  319                            Introduction
1  308  The Great Barrier Reef Is Under Attack
2    7            Poverty in the United States
3  277               Home Is Where You Find It
4  320                            Introduction

                                            body_one  \
0  <span id="docs-internal-guid-57781d2a-9e1b-ad6...
1  <span id="docs-internal-guid-93250290-6b09-ebf...
2  <span id="docs-internal-guid-78a4a929-94ce-5ca...
3  <span id="docs-internal-guid-bcc3614b-7f0f-1c6...
4  <span id="docs-internal-guid-63d58086-ad89-8ef...

                                            body_two  \
0  <p dir="ltr" style="line-height: 1; margin-top...
1  <span id="docs-internal-guid-831a1ae8-6b0a-38e...
2  <span id="docs-internal-guid-42360d9b-94ce-934...
3  <span id="docs-internal-guid-6e621374-7f0f-716...
4  <span id="docs-internal-guid-b71e7728-ad8a-7ea...

                                          body_three  video_one_id  \
0  <span id="docs-internal-guid-681ae4bf-ad8f-081...           168
1  <span id="docs-internal-guid-e9079529-9506-bc0...           156
2  <span id="docs-internal-guid-c15e05aa-94ce-c5c...             2
3  <span id="docs-internal-guid-51ec9133-7f0f-a9e...           131
4  <span id="docs-internal-guid-b71e7728-ad8a-7ea...           168

   video_two_id  video_three_id
0           168             168
1           156             156
2             2               2
3           131             131
4           168             168

### result analyis:
This is all about the course articles, it is not useful by now. But I think some keywords in the article may be useful. But right now I am not going to use this file.

In [5]:
printFile(files[1])

================= data/course_article_questions.csv =================
     id  article_id  question_id  sort_value
0  4391         313          701           1
1  4396         284          715           1
2  4431         323          730           1
3  4337         310          727           1
4  4342         309          726           1

### result analyis:
This is about the course articles, it is not useful by now. And I dont't know the what is sort_value.

In [6]:
printFile(files[2])

================= data/course_classroom.csv =================
     id                          name    code  teacher_id  \
0    43                    Las Cuevas  8XvVw2          87
1  1910            Cub Scout pack 105  du4Tko       17971
2  1739        Ms. Reeves' Lead Class  pJ676X       16580
3  1672         8th Grade ELA - green  ysbP6c       15945
4  1548  Mrs. Millwood's CREATE Class  A0dHeb       15420

                                     description  course_id         skill  \
0  Passionate, Loves to Discuss/Debate, Curious,          1  Intermediate
1                                            NaN         11      Beginner
2                                            NaN          1  Intermediate
3                                            NaN         11  Intermediate
4                                            NaN         11      Beginner

              country     state target_start_date  points
0  Dominican Republic  La Vega         2015-01-12      25
1       United States        IN        2015-08-30       0
2       United States        AL        2015-08-24       0
3       United States        SC        2015-09-06       0
4       United States        GA        2015-08-20       0

### result analysis:
very useful information. But a few colunms need a clear explaination:
    1) id
    2) code
    3) points

In [7]:
printFile(files[3])

================= data/course_course.csv =================
   id                       name                       slug  \
0  19            A World of Food            a-world-of-food
1  17           Argument Writing           argument-writing
2   1                World News                  world-news
3  11             World Explorer             world-explorer
4  15  The World Through My Eyes  the-world-through-my-eyes

                                         description  \
0  Students from around the world connect to stud...
1  Students from across the United States connect...
2  Connects English speakers and learners to stud...
3  Our most popular course connects students to l...
4  Students connect to explore stories from aroun...

                                        announcement hide  \
0  Practice language skills and discover the worl...    t
1  Practice language skills and discover the worl...    t
2   Practice language skills and discover the world.    t
3  Explore global cultures with PenPals from arou...    f
4  Learn about global issues with PenPals from ar...    f

                                         banner  \
0      course/19/12_02_2015_23_07_32_ng (1).jpg
1      course/17/01_19_2016_21_35_24_.49 PM.png
2        course/1/10_12_2015_14_54_13_solar.jpg
3  course/11/World_Explorer_Star_Sticker_v2.png
4      course/15/01_27_2016_12_59_57_1 copy.jpg

                                          body_three  order  \
0                                                NaN    100
1                                                NaN    100
2                                                NaN    100
3  <span id="docs-internal-guid-079be767-46a4-06f...      1
4  <span id="docs-internal-guid-079be767-46ab-148...      3

                                            facebook  \
0                                                NaN
1                                                NaN
2                                                NaN
3  <div class="fb-share-button" data-href="https:...
4  <div class="fb-share-button" data-href="https:...

                                             twitter
0                                                NaN
1                                                NaN
2                                                NaN
3  <a href="https://twitter.com/share" class="twi...
4  <a href="https://twitter.com/share" class="twi...

### result analysis
Course Id is used in course_classroom.

In [41]:
printFile(files[4])

================= data/course_course_units.csv =================
     id  course_id  unit_id  sort_value
0  3586         11       92           1
1  3587         11       40           2
2  3588         11       39           3
3  3589         11       41           4
4  3590         11       42           5

### result analysis:
What is id, unit_id?

In [8]:
printFile(files[5])

================= data/course_match.csv =================
      id  student_id  classroom_id  \
0  97395      123884        8253.0
1  99041      125418        7989.0
2  12327       17867        1998.0
3  12632       18857        1911.0
4  45091       60318        4072.0

                                               intro new_match  age  \
0                Australia beacause they have coalas         f   13
1       Paris, France because it's the city of love.         f   13
2  We are a free country.\nWe drink water.\nWe bo...         t   13
3                                                NaN         t   15
4                                Watch a hockey game         t   10

  course_start_date target_start_date  course_id         skill state  \
0        2017-01-09        2017-01-09         15  Intermediate   NaN
1        2017-01-09        2017-01-09         14  Intermediate    FL
2        2015-05-25        2015-08-31          1      Beginner    AL
3               NaN        2015-08-31          1      Beginner    TX
4        2016-02-01        2016-01-18         11      Beginner    OR

         country                       activity  points pledge
0        Denmark  2017-01-26 09:03:08.858457+00     300      t
1  United States  2017-01-25 19:19:34.060776+00     300      t
2  United States  2015-08-30 19:15:09.928069+00     150      f
3  United States  2015-08-30 19:14:26.770596+00       0      f
4  United States   2016-01-29 20:15:01.09436+00     100      f

### result analysis:
The data I can use. students' data: 
<ol> 
    <li> student_id</li>
    <li>classroom_id </li>
    <li>intro</li>
    <li>new_match</li>
    <li>...</li>
</ol>

In [43]:
printFile(files[6])

================= data/course_match_student_match.csv =================
       id  from_match_id  to_match_id
0   74020          20091        20022
1   28728          11719        11728
2   74021          20022        20091
3   28730          11728        11719
4  115482          29562        29580

### result analysis:
This is the matching between students.

In [12]:
printFile(files[7])

================= data/course_progress.csv =================
       id  match_id  unit_id  progress_one
0  419694     69994       38             0
1  419696     69994       37             0
2  419697     69994       36             0
3  419698     69994       35             0
4  419699     69994       45             0

### result analyis:
This is about the progress of the course.

In [13]:
printFile(files[8])

================= data/course_question.csv =================
   id                                           text_one  \
0   2  How could using alternative energy sources be ...
1   3  Do you think that using pistachio nut shells i...
2   4  Ask your PenPal a question about the environme...
3   6  Thankfully, children in the USA are not forced...
4   7  According to the article, some children choose...

                                            text_two  \
0  How could using alternative energy sources be ...
1  Do you think that projects like Turkey’s “eco-...
2  Ask your PenPal a question about the environme...
3  Thankfully, children in the USA are not forced...
4  According to the article, some children choose...

                                          text_three
0  How could using alternative energy sources be ...
1  According to the article, “skeptics doubt thes...
2  Ask your PenPal a question about the environme...
3  Thankfully, children in the USA are not forced...
4  According to the article, some children join I...

### result analyis:
This is about the questions of the course.

In [14]:
printFile(files[9])

================= data/course_questionresponse.csv =================
       id                        created                       modified  \
0       2  2015-01-12 18:31:50.344312+00  2015-01-12 18:31:54.440605+00
1       5  2015-01-12 18:32:37.276155+00  2015-01-12 18:32:37.282585+00
2       6  2015-01-12 18:33:19.903515+00  2015-01-12 18:33:19.934264+00
3  172014   2015-11-17 17:12:30.96388+00  2015-11-17 17:12:30.964101+00
4       8  2015-01-12 18:33:47.394602+00  2015-01-12 18:33:47.401315+00

   match_id  question_id                                               text  \
0      2711         93.0                  global warning is melting the ice
1      2728         93.0       cuse theres camicle wast going in to the air
2      2711         92.0  i would save them by giving them proper needs ...
3     21614        607.0  There would be a picture of me playing shortst...
4      2728         92.0  stop and pick some up so they canlive longer a...

   unit_id
0      1.0
1      1.0
2      1.0
3      6.0
4      1.0

### result analyis:
This is about the students responses. Useful information.

In [15]:
printFile(files[10])

================= data/course_questionresponse_new_response.csv =================
       id  questionresponse_id  match_id
0       1               380280     67460
1  399166               498955     90419
2   96433               406595     64826
3  115378               411807     76649
4  115379               411807     72798

In [16]:
printFile(files[11])

================= data/course_questionresponse_new_subresponse.csv =================
      id  questionresponse_id  match_id
0  25419               391297     66962
1      2               379775     70537
2  25420               391297     67053
3  71916               435442     82687
4  25422               391297     67388

### result analyis:
These two are about the students responses. Useful information.

In [17]:
printFile(files[12])

================= data/course_resource.csv =================
   id                                          dashboard  \
0  21  Learn more about popular culture around the wo...
1   7  Download and print the "Young Heroes" Class Ac...
2   9  Download and print the "Meet the PenPals" Clas...
3   8  Download and print the "Mystery PenPal" Class ...
4  18   Download the World Through My Eyes Course Rubric

                                              dialog  \
0  Follow this link to our bonus videos about pop...
1  The final week's Class Activity helps students...
2  Meet the PenPals is a great way to help studen...
3  Mystery PenPal is a fun way for students to pr...
4  This course specific rubric helps students rec...

                          link_one  \
0  https://vimeo.com/album/4293309
1                              NaN
2                              NaN
3                              NaN
4                              NaN

                                            file_one
0                                                NaN
1         resource/7/PrintableLesson_YoungHeroes.pdf
2          resource/9/ClassActivity_Meet PenPals.pdf
3     resource/8/PPS_ClassActivity_MysteryPenPal.pdf
4  resource/18/PenPalSchools_TheWorldThroughMyEye...

### result analyis:
This is about the cource resources.

In [18]:
printFile(files[13])

================= data/course_subquestionresponse.csv =================
   id                        created                       modified  match_id  \
0   1  2015-08-18 14:39:04.842977+00  2015-08-18 14:39:04.845993+00      9978
1   2  2015-08-18 14:41:57.089341+00  2015-08-18 14:41:57.092381+00      9978
2   8  2015-08-20 17:17:55.361397+00  2015-08-20 17:17:55.364388+00     10136
3   9  2015-09-10 21:58:09.592454+00  2015-09-10 21:58:09.595085+00     14074
4  13  2015-09-25 18:17:47.240061+00  2015-09-25 18:17:47.242734+00     16263

   response_id                                               text
0        55940  Russia has the highest obesity rate in the wor...
1        55941  Youre right there are some good Russian restau...
2        56281  I agree. When the British colonized Kenya they...
3        59145  I agree, many people care about wildlife and a...
4        72430  I honestly believe that people don't/won't pro...

### result analyis:
This is about the students sub-responses. Useful information. Related to course_questionresponse (10th csv file).

In [19]:
printFile(files[14])

================= data/course_unit.csv =================
   id               name
0  86      Saving Rhinos
1  87  Queen of the Deep
2  38          Education
3  34        The Economy
4  37        Immigration

In [20]:
printFile(files[15])

================= data/course_unit_articles.csv =================
     id  unit_id  article_id
0  1811       41         316
1  1813       43         317
2  1737       54         273
3  1739       56         275
4  1831       52         271

In [21]:
printFile(files[16])

================= data/course_unit_resources.csv =================
    id  unit_id  resource_id  sort_value
0  102       53           16           1
1  103       54           16           1
2  104       55           16           1
3  105       56           16           1
4  106       57           12           1

In [22]:
printFile(files[17])

================= data/course_video.csv =================
    id           title   video_id
0  168  Learn Together  166889718
1    5      Government   48746998
2    2         Poverty   54955691
3    3      Technology   54955862
4    4  War & Conflict   55948298

### result analyis:
This is about the course resource. Not useful.

In [23]:
printFile(files[18])

================= data/user_app_address.csv =================
   id street_line1 street_line2 zipcode     city     state          country  \
0   2          NaN          NaN     NaN       SF       CA    United States
1   3          NaN          NaN     NaN  Watford  England   United Kingdom
2   4          NaN          NaN     NaN   Austin       TX    United States
3   5          NaN          NaN     NaN   Austin       TX    United States
4   6          NaN          NaN     NaN       CF       NaN       Argentina

             formatted_address        lat         lng
0      San Francisco, CA, USA   37.774929 -122.419415
1  Watford, Hertfordshire, UK   51.656489   -0.390320
2             Austin, TX, USA   30.267153  -97.743061
3             Austin, TX, USA   30.267153  -97.743061
4     Buenos Aires, Argentina  -34.603684  -58.381559

/Users/Wenbo/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2827: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

### result analyis:
This is about the students address. Useful information.

In [24]:
printFile(files[19])

================= data/user_app_customuser.csv =================
                                            password  \
0  pbkdf2_sha256$12000$Wf2vl1BrW9WX$ZfVHGrNWLRq6D...
1  pbkdf2_sha256$12000$cPQMz5fraEOn$1OsUaJ0VVtoaR...
2  pbkdf2_sha256$12000$cEHyyRBX7on0$qWWTL9NIJSRhT...
3  pbkdf2_sha256$12000$AndikQI7dHS2$LPNBYi3YTk/5c...
4  pbkdf2_sha256$12000$rwSFwTZ6FUnI$rl//4QjOHtJF4...

                      last_login is_superuser     id     username  \
0  2015-01-26 23:17:29.798899+00            f   4950        Sonya
1  2015-01-02 01:35:32.875542+00            f      9      Brankoe
2  2015-01-06 14:36:01.970408+00            f    437  john.porter
3  2015-01-27 15:36:51.889319+00            f   5014     Hannah77
4  2015-04-14 17:21:45.903994+00            f  12093   Mercedes77

                 email first_name last_name gender  tier  \
0  sonyafb@hotmail.com      Sonya  figueroa    NaN     2
1                  NaN     Branko         E      M     1
2                  NaN       John         P      M     1
3                  NaN     Hannah         M    NaN     1
4                  NaN   Mercedes       NaN      F     1

               ...                \
0              ...
1              ...
2              ...
3              ...
4              ...

                                                 bio primary_address_id  \
0                                                NaN             4949.0
1                                                NaN                9.0
2                                                NaN              437.0
3  I love to play volleyball, study marine life, ...             5013.0
4                                                NaN            11531.0

   stripe_id is_staff is_active                    date_joined  \
0        NaN        f         t  2015-01-26 23:17:29.798899+00
1        NaN        f         t  2015-01-02 01:35:32.875542+00
2        NaN        f         t  2015-01-06 14:36:01.970408+00
3        NaN        f         t     2015-01-27 15:36:51.889+00
4        NaN        f         t  2015-04-14 17:21:45.903994+00

                             dob email_verified points  \
0  2015-03-20 03:20:34.472988+00              f      0
1  2015-03-20 03:20:34.472988+00              f      0
2  2015-03-20 03:20:34.472988+00              f      0
3  2015-03-20 03:20:34.472988+00              f      0
4         2002-01-01 00:00:00+00              f      0

                    img_activity
0  2016-09-09 04:17:40.075083+00
1  2016-09-09 04:17:40.075083+00
2  2016-09-09 04:17:40.075083+00
3  2016-09-09 04:17:40.075083+00
4  2016-09-09 04:17:40.075083+00

[5 rows x 21 columns]

/Users/Wenbo/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2827: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

### result analyis:
This is about the user information. Useful information. Most of data are useful, including when they joined, their bio, first & last name.

In [25]:
printFile(files[20])

================= data/user_app_customuser_user_permissions.csv =================
     id  customuser_id  permission_id
0  1117             32             80
1  1118             32             79
2  1078          15640            160
3  1079          15640            161
4  1080          15640            162

In [26]:
printFile(files[21])

================= data/user_messages_message.csv =================
   id  room_id                                               body  sender_id  \
0   6        4  Is the government where you live running smoot...       5717
1   7        7  According to the article, Canada scientists fi...       6700
2   8        6  "According to the article, Canada scientists f...       6699
3   9        7  Imagine you held a place of power in your gove...       6700
4  11        7  Ask your PenPal a question about what the gove...       6700

                         sent_at deleted
0  2015-03-26 23:24:18.314082+00       f
1  2015-03-27 15:20:53.804654+00       f
2  2015-03-27 15:24:46.994541+00       f
3   2015-03-27 15:25:16.21155+00       f
4  2015-03-27 15:28:56.374408+00       f

### result analyis:
User message. What is the different between this and response?

In [27]:
printFile(files[22])

================= data/user_messages_room.csv =================
   id                       activity
0  19  2015-03-30 01:00:33.882709+00
1  20  2015-06-05 14:50:27.266539+00
2  21  2015-03-31 20:38:32.156907+00
3  39  2015-04-02 19:27:02.028122+00
4  23  2015-04-01 17:54:17.566251+00

### result analyis:
Not useful? What mean activity?

In [28]:
printFile(files[23])

================= data/user_messages_room_new_message.csv =================
     id  room_id  customuser_id
0   303      348          10059
1   736      181          10127
2  4637     1497          16472
3  2817     1052           8774
4  2223      906           8554

In [30]:
printFile(files[24])

================= data/user_messages_room_subscribers.csv =================
   id  room_id  customuser_id
0   7        4           5717
1   8        4           8366
2   9        5           6689
3  10        5           6269
4  11        6           6699

### result analyis:
What is the difference between this and former one(messages_room_new_message)?