In [1]:
import pandas as pd
import numpy as np

In [2]:
message = pd.read_csv('data/user_messages_message.csv')

In [3]:
message.head()

,id,room_id,body,sender_id,sent_at,deleted
0,6,4,Is the government where you live running smoot...,5717,2015-03-26 23:24:18.314082+00,f
1,7,7,"According to the article, Canada scientists fi...",6700,2015-03-27 15:20:53.804654+00,f
2,8,6,"""According to the article, Canada scientists f...",6699,2015-03-27 15:24:46.994541+00,f
3,9,7,Imagine you held a place of power in your gove...,6700,2015-03-27 15:25:16.21155+00,f
4,11,7,Ask your PenPal a question about what the gove...,6700,2015-03-27 15:28:56.374408+00,f

In [4]:
message.drop(['id','room_id','sent_at','deleted'],axis=1,inplace=True)
message.head()

                                                body  sender_id
0  Is the government where you live running smoot...       5717
1  According to the article, Canada scientists fi...       6700
2  "According to the article, Canada scientists f...       6699
3  Imagine you held a place of power in your gove...       6700
4  Ask your PenPal a question about what the gove...       6700

In [5]:
message.describe(include=['O'])

         body
count   11444
unique   9538
top        hi
freq      216

In [6]:
words = message.body.str.len()
len(words)

11444

In [7]:
message['words']=pd.Series(words)

In [8]:
message.head()

                                                body  sender_id  words
0  Is the government where you live running smoot...       5717    208
1  According to the article, Canada scientists fi...       6700    513
2  "According to the article, Canada scientists f...       6699    581
3  Imagine you held a place of power in your gove...       6700    445
4  Ask your PenPal a question about what the gove...       6700    244

In [9]:
message.drop('body',axis=1,inplace=True)

In [10]:
freq = message.groupby('sender_id')['words'].count().reset_index(name='count').sort_values(['count'], ascending=False)

In [11]:
freq.head()

      sender_id  count
994       16374     37
730       11380     35
1000      16382     35
1045      16474     35
2705      22352     35

In [12]:
freq.describe()

          sender_id        count
count   3027.000000  3027.000000
mean   16527.100760     3.780641
std     5373.746919     4.347449
min        1.000000     1.000000
25%    11463.000000     1.000000
50%    18179.000000     2.000000
75%    20521.500000     5.000000
max    27586.000000    37.000000

In [13]:
sumWords = message.groupby('sender_id')['words'].sum().reset_index(name='count').sort_values(['count'], ascending=False)

In [14]:
sumWords.head()

     sender_id  count
916      15587   9340
623      10735   7571
912      15547   7030
965      16269   6758
827      13866   6036

In [15]:
sumWords.describe()

          sender_id        count
count   3027.000000  3027.000000
mean   16527.100760   289.986786
std     5373.746919   536.864810
min        1.000000     2.000000
25%    11463.000000    55.000000
50%    18179.000000   140.000000
75%    20521.500000   317.000000
max    27586.000000  9340.000000

In [16]:
df=pd.concat([freq,sumWords],axis=1)

In [17]:
df.columns = ['sender','freq','sender_id','words']

In [18]:
df.head()

   sender  freq  sender_id  words
0       1     1          1      3
1       5     2          5     43
2      39     6         39   1668
3      41     5         41    965
4     118     8        118   2618

In [19]:
df.isnull().sum().sum()

0

That means every sender_id has both freq and words. BTW, freq: how many times the user send a message; words: how many words in total.

In [20]:
df.drop('sender_id',axis=1,inplace=True)

In [21]:
df.to_csv('userMessage.csv')

In [22]:
df.describe()

             sender         freq        words
count   3027.000000  3027.000000  3027.000000
mean   16527.100760     3.780641   289.986786
std     5373.746919     4.347449   536.864810
min        1.000000     1.000000     2.000000
25%    11463.000000     1.000000    55.000000
50%    18179.000000     2.000000   140.000000
75%    20521.500000     5.000000   317.000000
max    27586.000000    37.000000  9340.000000

In [23]:
df["talkative1"]=pd.Series(np.where(df.freq >1, 1,0))
df["talkative2"]=pd.Series(np.where(df.words>54, 1,0))
df.head()

   sender  freq  words  talkative1  talkative2
0       1     1      3           0           0
1       5     2     43           1           0
2      39     6   1668           1           1
3      41     5    965           1           1
4     118     8   2618           1           1

In [24]:
df["talkative"]=pd.Series(np.where(df.talkative1+df.talkative2==0, 0,1))

In [25]:
df.head()

   sender  freq  words  talkative1  talkative2  talkative
0       1     1      3           0           0          0
1       5     2     43           1           0          1
2      39     6   1668           1           1          1
3      41     5    965           1           1          1
4     118     8   2618           1           1          1

In [26]:
df.drop(['freq', 'words','talkative1','talkative2'],axis=1,inplace=True)

In [27]:
df.to_csv('userLabel.csv')