In [1]:
import pandas as pd

In [168]:
userComb = pd.read_csv("user_info_comb.csv")

/Users/yimengz/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

127476 users

In [169]:
userComb.drop(['password','id.1','primary_address_id','lat', 'lng'], axis=1, inplace=True)
userComb.head()

,last_login,is_superuser,id,username,email,first_name,last_name,gender,tier,img,...,email_verified,points,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address
0,2017-01-27 17:42:31.857178+00,t,1,migueldv90,miguel@penpalschools.com,Miguel,Vazquez,M,4,user_app/1/08_07_2015_18_26_46_736474_upload-i...,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
1,2014-12-31 03:52:34.318484+00,f,2,Zhuf,zhuf@sfusd.edu,Fengsheng,Zhu,NaN,2,default-profile.svg,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,SF,CA,United States,"San Francisco, CA, USA"
2,2014-12-31 15:14:49.786013+00,f,3,oxheywood,mikki.caplan@gmail.com,Mikki,Caplan,NaN,2,default-profile.svg,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Watford,England,United Kingdom,"Watford, Hertfordshire, UK"
3,2015-05-24 01:09:33+00,f,4,mimobrow,NaN,Michael,Monroe,NaN,1,default-profile.svg,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
4,2017-01-07 15:51:51.854495+00,f,5,joetroyen,joe@penpalschools.com,Joe,Troyen,NaN,4,user_app/5/04_01_2015_17_59_50_754213_upload-i...,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"

In [170]:
userComb.columns.values

array(['last_login', 'is_superuser', 'id', 'username', 'email',
       'first_name', 'last_name', 'gender', 'tier', 'img', 'bio',
       'stripe_id', 'is_staff', 'is_active', 'date_joined', 'dob',
       'email_verified', 'points', 'img_activity', 'street_line1',
       'street_line2', 'zipcode', 'city', 'state', 'country',
       'formatted_address'], dtype=object)

In [167]:
userComb['primary_address_id'].count()

127329

In [44]:
userComb.describe(include=['O'])

,last_login,is_superuser,username,email,first_name,last_name,gender,img,bio,stripe_id,...,dob,email_verified,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address
count,127476,127476,127476,52645,97654,95666,93454,127472,15649,57,...,127476,127476,127476,585,5,3971,24930,25637,127468,27112
unique,127470,2,127476,50732,27800,3446,2,23029,15153,57,...,95895,2,39788,433,1,2355,6691,1846,308,10189
top,2015-10-07 15:09:50.107519+00,f,KateNic,porurpenpal@gmail.com,Emily,M,F,default-profile.svg,Teacher,cus_9rpzLyBlQNoNUA,...,2015-03-20 03:20:34.472988+00,f,2016-09-09 04:17:40.075083+00,New York,,48118,Austin,TX,None,"Austin, TX, USA"
freq,2,127474,1,81,457,7363,48932,75451,73,1,...,9243,122412,87652,21,5,62,482,1195,100363,347

### last_login

In [112]:
print(type(userComb["last_login"][0]))

<class 'str'>

### is_superuser

In [141]:
userComb.is_superuser=userComb.is_superuser.map({'t':0,'f':1})
userComb.groupby('is_superuser')['id','username'].count()

                  id  username
is_superuser
0                  2         2
1             127474    127474

<p> Because there is only 2 super-user, they may be outliers. Let us see who are the two super-user</p>

In [130]:
userComb[userComb.is_superuser==0]

,last_login,is_superuser,id,username,email,first_name,last_name,gender,tier,img,...,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address,lat,lng
0,2017-01-27 17:42:31.857178+00,0,1,migueldv90,miguel@penpalschools.com,Miguel,Vazquez,M,4,user_app/1/08_07_2015_18_26_46_736474_upload-i...,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA",30.267153,-97.743061
24,2017-01-26 20:58:10.536884+00,0,32,markdanforth,mark.danforth@bookaround.co,PenPal,Coach,NaN,4,default-profile.svg,...,2016-09-09 04:17:40+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA",30.267153,-97.743061

They are migueldv and markdanforth, who are the employees from Penpal Schools. They may just test the website functions. So I decide to delete the is_superuser colunm.

In [142]:
userComb.drop(['is_superuser'], axis=1, inplace=True)

### username
<p> Every user name is unique. Nothing can be done with it.

### email
<p> It is wired that there are 52645 user have input their email but only 50732 unique values are found. And porurpenpal@gmail.com appears 81 times. Whoes email is porurpenpal@gmail.com?

In [124]:
userComb[userComb.email=="porurpenpal@gmail.com"]

,last_login,id,username,email,first_name,last_name,gender,tier,img,bio,...,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address,lat,lng
54598,2016-01-21 09:18:10.746063+00,56997,ajaydevanand,porurpenpal@gmail.com,Ajay,A,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54651,2016-02-03 11:25:30.152268+00,57050,annamalai,porurpenpal@gmail.com,annamalai,s,1,1,user_app/57050/E6V5a9Vijay1.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54671,2016-01-21 09:54:45.760968+00,57070,deepakprasad,porurpenpal@gmail.com,deepak,m,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54683,2016-01-21 09:57:47.744758+00,57082,deva,porurpenpal@gmail.com,deva,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54703,2016-01-21 10:02:34.512706+00,57102,dhanushc,porurpenpal@gmail.com,dhanush,c,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54712,2016-01-21 10:05:59.040857+00,57111,dhanushm,porurpenpal@gmail.com,dhanush,m,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54726,2016-01-21 10:12:04.757306+00,57125,elamaran,porurpenpal@gmail.com,elamaran,p,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54730,2016-01-21 10:15:01.495477+00,57129,gunasekark,porurpenpal@gmail.com,gunasekar,k,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54741,2016-01-21 10:22:45.708912+00,57140,harishporur,porurpenpal@gmail.com,harish,g,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54747,2016-01-21 10:25:24.854553+00,57146,harishv,porurpenpal@gmail.com,harish,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54750,2016-06-13 11:22:26.138069+00,57149,hemanth,porurpenpal@gmail.com,hemanth,v,1,1,user_app/57149/Nx7H4G58x342.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54761,2016-01-21 10:33:17.62967+00,57160,karthickc,porurpenpal@gmail.com,karthick,c,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54769,2016-01-21 10:35:44.151384+00,57168,kishoreporur,porurpenpal@gmail.com,kishore,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54773,2016-01-21 10:38:07.421344+00,57172,logesh,porurpenpal@gmail.com,logesh,n,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54777,2016-01-21 10:41:01.597068+00,57176,logeshwarans,porurpenpal@gmail.com,logeshwaran,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54781,2016-01-21 10:44:15.631465+00,57180,manikandanporur,porurpenpal@gmail.com,manikandan,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54783,2016-02-05 06:04:58.655367+00,57182,manikandanv,porurpenpal@gmail.com,manikandan,v,1,1,user_app/57182/YoCUAEimages.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54795,2016-03-28 10:06:48.321467+00,57194,ramesh,porurpenpal@gmail.com,Ramesh,E,1,1,user_app/57194/uNWR9uIndia.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54796,2016-01-21 10:55:16.269132+00,57195,mukesh,porurpenpal@gmail.com,mukesh,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54800,2016-01-21 11:00:15.898681+00,57199,naveenb,porurpenpal@gmail.com,naveen,b,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54803,2016-01-21 11:02:58.888293+00,57202,naveenporur,porurpenpal@gmail.com,naveen,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54805,2016-01-21 11:05:45.429763+00,57204,pradeepr,porurpenpal@gmail.com,pradeep,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54806,2016-01-21 11:07:49.725723+00,57205,pradeepkumarn,porurpenpal@gmail.com,pradeepkumar,n,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54809,2016-01-21 11:10:00.728165+00,57208,sakthikumar,porurpenpal@gmail.com,sakthikumar,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54812,2016-01-21 11:13:02.722124+00,57211,samsamuvel,porurpenpal@gmail.com,samsamuvel,b,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54814,2016-01-21 11:13:51.73347+00,57213,abijohn,porurpenpal@gmail.com,Abi,J,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54815,2016-01-21 11:15:41.130021+00,57214,sanjayv,porurpenpal@gmail.com,sanjay,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54818,2016-01-21 11:17:27.247416+00,57217,sarveshwaran,porurpenpal@gmail.com,sarveshwaran,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54820,2016-01-21 11:20:11.071385+00,57219,sathyas,porurpenpal@gmail.com,sathya,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54822,2016-01-21 11:23:15.248743+00,57221,shanmugam,porurpenpal@gmail.com,shanmugam,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54886,2016-01-21 12:17:02.638071+00,57286,jaiaksh,porurpenpal@gmail.com,jaiakash,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54887,2016-02-04 11:58:33.092175+00,57287,dhineshn,porurpenpal@gmail.com,dhinesh,n,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54890,2016-01-21 12:20:30.726115+00,57290,dhineshp,porurpenpal@gmail.com,dhinesh,p,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54891,2016-01-21 12:22:07.07324+00,57291,joshep,porurpenpal@gmail.com,joshep,t,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54892,2016-01-21 12:23:56.990423+00,57292,dhineshr,porurpenpal@gmail.com,dhineshkumar,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54893,2016-01-21 12:25:24.560749+00,57293,karthickm,porurpenpal@gmail.com,karthick,m,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54896,2016-01-21 12:28:16.244108+00,57296,gokult,porurpenpal@gmail.com,gokul,t,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54897,2016-01-21 12:30:28.766085+00,57297,hariharanporur,porurpenpal@gmail.com,hariharan,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54898,2016-01-21 12:30:47.083328+00,57298,kathirvel,porurpenpal@gmail.com,kathirvel,k,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54899,2016-01-21 12:33:14.227525+00,57299,kananc,porurpenpal@gmail.com,kanan,c,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54901,2016-01-21 12:34:44.208998+00,57301,kishorekumarg,porurpenpal@gmail.com,kishore,g,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54902,2016-01-21 12:35:34.108901+00,57302,karthikporur,porurpenpal@gmail.com,karthik,a,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54904,2016-01-21 12:37:37.260861+00,57304,lokeshs,porurpenpal@gmail.com,lokesh,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54909,2016-01-21 12:40:46.229263+00,57309,lokeshr,porurpenpal@gmail.com,lokesh,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54911,2016-01-21 12:42:20.567559+00,57311,muralidharanm,porurpenpal@gmail.com,muralidharan,m,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
54915,2016-01-21 12:48:05.003773+00,57316,lokeshv,porurpenpal@gmail.com,lokesh,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
59755,2016-02-03 11:10:36.702872+00,62208,dhanushcporur,porurpenpal@gmail.com,dhanush,c,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60061,2016-02-04 10:27:59.932672+00,62525,dhanushporur.,porurpenpal@gmail.com,dhanush,c,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60108,2016-06-06 10:50:23.969024+00,62572,abiabraham,porurpenpal@gmail.com,abi abraham,s,1,1,user_app/62572/nfRXtzBI_KKJ.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60110,2016-02-04 12:24:39.130251+00,62574,prakashraj1,porurpenpal@gmail.com,prakashraj,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60112,2016-02-04 12:29:00.776996+00,62576,sanjayporur,porurpenpal@gmail.com,sanjai,k,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60113,2016-02-04 12:26:41.027474+00,62577,santhoshk,porurpenpal@gmail.com,santhosh,k,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60115,2016-02-04 12:29:31.409835+00,62579,saravanak,porurpenpal@gmail.com,saravana,k,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60118,2016-02-04 12:32:36.38809+00,62582,sathishporur,porurpenpal@gmail.com,sathish,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
60120,2016-02-04 12:34:44.803026+00,62584,sathishkumar,porurpenpal@gmail.com,sathish,r,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
61496,2016-06-13 12:04:16.056664+00,63979,Sharpchandru,porurpenpal@gmail.com,chandru,s,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
61601,2016-02-23 09:08:13.838738+00,64086,balajik,porurpenpal@gmail.com,balaji,k,1,1,user_app/64086/KfdHl7dragon.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
61602,2016-02-29 12:34:18.914369+00,64087,aslinpraba,porurpenpal@gmail.com,aslin,p,1,1,user_app/64087/G9FLG8image.jpg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
61603,2016-02-11 08:54:35.542104+00,64088,karthikeyan001,porurpenpal@gmail.com,karthikeyan,A,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
62087,2016-02-15 12:01:53.256798+00,64579,raghu,porurpenpal@gmail.com,raghu,v,1,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN

All the last names are one single letter, same gender, same tier, most of them use deful image, and last login are around Jan/Feb 2016. So those data is fake data, it should be deleted.

In [143]:
userComb=userComb[userComb.email!="porurpenpal@gmail.com"]

In [161]:
userComb.groupby('email')['id'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(25)

                                  email  count
39626         penpalmugappair@gmail.com     53
23410          hemapenpal2016@gmail.com     41
21546    garland.a@rochesterschools.com     39
39627          penpalmugappir@gmail.com     34
33562             manish.sharma@aif.org     27
43808         sarah.hodgkinson@risd.org     26
39592                pelusocl@yahoo.com     26
23744             holycrossy6@gmail.com     25
27736                 jscott@cpsk12.org     24
46183  stevenson.d@rochesterschools.com     23
23773               hopectckn@gmail.com     23
24869           j2.huntersbar@gmail.com     22
24380    info@gangnamenglishacademy.com     21
48584           ushasurendars@gmail.com     21
38078               nidhi.goyal@aif.org     18
26146            jenny.kelly@dsisdtx.us     17
15967          computerlabwms@gmail.com     16
25430                 jaredj@jsd171.org     16
49527       wigleym@highlands.k12.fl.us     15
21812           gghsmullana90@gmail.com     14
27161          johnsonsclass3@yahoo.com     13
16345      crockerfarmroom204@gmail.com     13
42167                rs761090@gmail.com     13
35388        metropolitan2006@gmail.com     13
28811       katrina@communityschool.net     11

<p> Same thing happens with "abhi.gladiator210@gmail.com" and "penpalmugappair@gmail.com"<p>

In [162]:
userComb.describe(include=['O'])

,last_login,username,email,first_name,last_name,gender,img,bio,stripe_id,is_staff,...,dob,email_verified,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address
count,127331,127331,52500,97509,95521,93310,127327,15647,57,127331,...,127331,127331,127331,585,5,3971,24930,25637,127323,27112
unique,127325,127331,50730,27745,3446,2,23017,15151,57,2,...,95857,2,39788,433,1,2355,6691,1846,308,10189
top,2015-10-13 15:12:18.20282+00,KateNic,penpalmugappair@gmail.com,Emily,M,F,default-profile.svg,Teacher,cus_9rpzLyBlQNoNUA,f,...,2015-03-20 03:20:34.472988+00,f,2016-09-09 04:17:40.075083+00,New York,,48118,Austin,TX,None,"Austin, TX, USA"
freq,2,1,53,457,7360,48893,75318,73,1,127326,...,9243,122267,87507,21,5,62,482,1195,100218,347

In [163]:
userComb[userComb.email=="hemapenpal2016@gmail.com"]

,last_login,id,username,email,first_name,last_name,gender,tier,img,bio,...,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address,lat,lng
27705,2016-02-15 06:05:43.606963+00,29867,BHARATH.K,hemapenpal2016@gmail.com,Bharath,K,M,1,user_app/29867/11_03_2015_10_42_09_moWwWKHARAT...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Chennai,TN,India,"Chennai, Tamil Nadu, India",13.082680,80.270718
27706,2016-02-06 09:05:48.648465+00,29868,GOKULRAJ.S,hemapenpal2016@gmail.com,gokulraj,S,M,1,user_app/29868/11_03_2015_10_43_04_EtErxCUL_RA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27707,2016-02-08 08:43:44.034413+00,29869,MANIKANDAN.M,hemapenpal2016@gmail.com,Manikandan,M,F,1,user_app/29869/11_03_2015_10_48_07_mYypNbKANDA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27708,2016-02-06 09:08:11.104255+00,29870,NAVEENKUMAR.A,hemapenpal2016@gmail.com,Naveen Kumar,A,M,1,user_app/29870/11_03_2015_10_49_27_zHAEFS_KUMA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27709,2016-02-06 09:09:17.974234+00,29871,PUGAZHENTHI.I,hemapenpal2016@gmail.com,pugazhenthi,I,M,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27712,2016-02-06 09:10:02.333227+00,29874,SANJAY.M,hemapenpal2016@gmail.com,sanjay,M,M,1,user_app/29874/11_06_2015_08_59_24_k5DgIsSANJA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27715,2016-02-08 08:46:14.475709+00,29877,THAMEEMANSARI.K,hemapenpal2016@gmail.com,thameemansari,K,M,1,user_app/29877/11_06_2015_09_02_47_CUN88sANSAR...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27717,2016-02-08 08:51:00.276792+00,29879,ARCHANA.I,hemapenpal2016@gmail.com,archana,I,F,1,user_app/29879/11_06_2015_09_10_21_YF2Tf3RCHAN...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27719,2016-02-08 09:12:23.238637+00,29881,BELCIYAMARY.A,hemapenpal2016@gmail.com,Belciyamary,A,F,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27721,2016-02-06 09:18:45.362934+00,29883,GUNAVATHY.M,hemapenpal2016@gmail.com,gunavathy,M,F,1,user_app/29883/11_06_2015_09_10_36_BANP3DA_MAR...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27722,2016-02-15 06:31:11.738082+00,29884,JEEVABLESSI.T,hemapenpal2016@gmail.com,jeevablessi,T,F,1,user_app/29884/11_06_2015_09_17_03_5vh3F6A_MAR...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27723,2016-02-06 09:24:17.021658+00,29885,JENIFERANGEL.D,hemapenpal2016@gmail.com,jeniferangel,D,F,1,user_app/29885/11_06_2015_09_51_38_zyacRP_ANGE...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27724,2016-02-08 09:45:41.407624+00,29886,LAVANYA.R,hemapenpal2016@gmail.com,lavanya,R,F,1,user_app/29886/11_06_2015_09_54_56_kcqunxAVANY...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27725,2016-02-06 09:27:34.612229+00,29887,MADHIMALAR.B,hemapenpal2016@gmail.com,madhimalar,B,F,1,user_app/29887/11_06_2015_10_05_32_AIT2xw_MALA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27726,2016-02-15 06:32:53.540014+00,29888,NATHIYA.V,hemapenpal2016@gmail.com,nathiya,V,F,1,user_app/29888/11_06_2015_10_04_05_EPkI6IADHIY...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27727,2016-02-06 09:38:15.724535+00,29889,SANDHIYA.D,hemapenpal2016@gmail.com,sandhiya,D,F,1,user_app/29889/11_06_2015_10_14_23_XIU6d7NDHIY...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
27728,2016-02-08 09:53:56.968163+00,29890,THAMARAI.S,hemapenpal2016@gmail.com,thamarai,S,F,1,user_app/29890/11_06_2015_10_13_12_RwKE1MAMARA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28000,2016-02-03 06:32:49.264062+00,30163,AROKIYASUGAN.C,hemapenpal2016@gmail.com,AROKIYASUGAN,C,M,1,user_app/30163/11_04_2015_10_03_44_AIvNFyASUGA...,I would like explain about my family generatio...,...,2016-09-09 04:17:40.075083+00,Via Giuseppe Chenna,NaN,15121,Alessandria,Piemonte,Italy,"Via Giuseppe Chenna, 15121 Alessandria AL, Italy",44.914807,8.614840
28002,2016-02-03 06:31:03.750866+00,30165,DEEPAK.I,hemapenpal2016@gmail.com,DEEPAK,I,M,1,user_app/30165/11_04_2015_10_39_35_OcgmWlDEEPA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28003,2016-02-03 06:27:48.434141+00,30166,KISHORE.S,hemapenpal2016@gmail.com,KISHORE,M,M,1,user_app/30166/11_06_2015_05_53_43_ds0mrkhore....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28004,2016-02-03 06:24:50.458476+00,30167,KISHORERAJE.M,hemapenpal2016@gmail.com,KISHORERAJE,M,M,1,user_app/30167/11_06_2015_06_00_14_rmFIGgRaje....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28005,2016-02-03 06:19:25.011559+00,30168,LOKESH.S,hemapenpal2016@gmail.com,LOKESH,S,M,1,user_app/30168/11_06_2015_06_06_26_WR1ENqkesh....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28006,2016-02-03 06:12:46.442735+00,30169,NAGILAN.P,hemapenpal2016@gmail.com,NAGILAN,P,M,1,user_app/30169/11_06_2015_06_13_23_WyCROTAGILA...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28007,2016-02-03 06:11:28.064887+00,30170,NAVEEN.B,hemapenpal2016@gmail.com,NAVEEN,B,M,1,user_app/30170/11_06_2015_06_16_24_ACz1F0NAVEE...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28009,2016-02-02 11:17:25.139412+00,30172,PRAKASH.K,hemapenpal2016@gmail.com,PRAKASH,K,M,1,user_app/30172/11_06_2015_06_32_21_JnbSS1RAKAS...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28010,2016-02-03 05:54:48.550844+00,30173,SANTHOSH.D,hemapenpal2016@gmail.com,SANTHOSH,D,M,1,user_app/30173/11_06_2015_06_44_17_rZWOMgNTHOS...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28011,2016-02-03 05:57:07.363922+00,30174,VIGNESH.K,hemapenpal2016@gmail.com,VIGNESH,K,M,1,user_app/30174/11_06_2015_06_48_43_KMcypgIGNES...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28012,2016-02-03 06:02:03.046155+00,30175,VIGNESHWARAN.R,hemapenpal2016@gmail.com,VIGNESHWARAN,R,M,1,default-profile.svg,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28013,2016-02-03 06:04:14.677561+00,30176,YOGESH.E,hemapenpal2016@gmail.com,YOGESH,E,M,1,user_app/30176/11_06_2015_07_00_53_KR1Sw8SH_._...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28014,2016-02-03 06:38:44.86967+00,30177,ABINAYA.S,hemapenpal2016@gmail.com,ABINAYA,S,F,1,user_app/30177/11_06_2015_07_09_15_cjGK8BAYA._...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28015,2016-02-09 05:54:23.279865+00,30178,DIVYA.M,hemapenpal2016@gmail.com,DIVYA.M,M,F,1,user_app/30178/11_03_2015_09_58_57_kLToxF14464...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Chennai,TN,India,"Chennai, Tamil Nadu, India",13.082680,80.270718
28016,2016-02-03 06:45:22.293644+00,30179,KIRUTHIGA.S,hemapenpal2016@gmail.com,KIRUTHIKA,S,F,1,user_app/30179/11_06_2015_08_24_35_PJGGffhiga....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28017,2016-02-03 06:46:45.787657+00,30180,KUMUTHA.K,hemapenpal2016@gmail.com,KUMUTHA,K,F,1,user_app/30180/11_06_2015_07_58_45_OCXrrJutha....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28018,2016-02-03 06:53:34.329187+00,30181,NIKITHA.D,hemapenpal2016@gmail.com,NIKITHA,D,F,1,user_app/30181/11_06_2015_08_21_25_Nnf163itha....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28019,2016-02-03 06:56:24.957478+00,30182,PREETHI.B,hemapenpal2016@gmail.com,PREETHI,B,F,1,user_app/30182/11_06_2015_08_31_06_v7RDs7REETH...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28020,2016-02-03 08:58:12.823275+00,30183,RAMYA.S,hemapenpal2016@gmail.com,RAMYA,S,F,1,user_app/30183/11_06_2015_08_31_17_KhqQSVamya....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28021,2016-02-03 08:59:22.505131+00,30184,SHAKANA.S,hemapenpal2016@gmail.com,SHAKANA,S,F,1,user_app/30184/11_06_2015_08_32_49_66rsE6kana....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
28022,2016-02-18 13:19:54.095592+00,30185,SANDHIYA.K,hemapenpal2016@gmail.com,SANDHIYA,K,F,1,user_app/30185/11_03_2015_08_59_58_6xh92914264...,Am a student in hope school. Studying in 7th std.,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Chennai,TN,India,"Chennai, Tamil Nadu, India",13.082680,80.270718
28023,2016-02-03 09:04:32.801242+00,30186,SHARMILA.A,hemapenpal2016@gmail.com,sharmila,A,F,1,user_app/30186/11_06_2015_08_40_46_jqTdj6ARMIL...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
35989,2016-02-03 06:48:23.992604+00,38168,MAHESWARI.R,hemapenpal2016@gmail.com,MAHESWARI,R,F,1,user_app/38168/11_06_2015_07_56_25_xuGv8ywari....,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
35990,2016-02-03 09:12:47.566233+00,38169,SWETHA.K,hemapenpal2016@gmail.com,swetha,K,F,1,user_app/38169/11_06_2015_08_42_36_1hctKbSWETH...,NaN,...,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Chennai,TN,India,"Chennai, Tamil Nadu, India",13.082680,80.270718

<p> Things are different here. Even though they share the same email, they have more likely address and names.

### gender

In [119]:
userComb.gender.fillna(0,inplace=True)
userComb.gender=userComb.gender.map({'M':1,'F':2,0:0})
userComb.groupby('gender')['id','username'].count()

           id  username
gender
0       34022     34022
1       44522     44522
2       48932     48932

<p>34022 people didn't input their gender.</p>
<p>0: NaN, 1: Male, 2: Famale </p>

### tier

In [171]:
userComb.groupby('tier')['id','username'].count()

          id  username
tier
1     116264    116264
2      11207     11207
4          5         5

In [172]:
userComb[userComb.tier==4]

,last_login,is_superuser,id,username,email,first_name,last_name,gender,tier,img,...,email_verified,points,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address
0,2017-01-27 17:42:31.857178+00,t,1,migueldv90,miguel@penpalschools.com,Miguel,Vazquez,M,4,user_app/1/08_07_2015_18_26_46_736474_upload-i...,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
4,2017-01-07 15:51:51.854495+00,f,5,joetroyen,joe@penpalschools.com,Joe,Troyen,NaN,4,user_app/5/04_01_2015_17_59_50_754213_upload-i...,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
24,2017-01-26 20:58:10.536884+00,t,32,markdanforth,mark.danforth@bookaround.co,PenPal,Coach,NaN,4,default-profile.svg,...,t,0,2016-09-09 04:17:40+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
19808,2017-01-09 22:20:54.570048+00,f,21949,CrystalG,crystalgermond@gmail.com,Crystal,NaN,F,4,user_app/21949/09_10_2015_18_53_10_968546_uplo...,...,f,0,2016-09-09 04:17:40.075083+00,NaN,NaN,NaN,Austin,TX,United States,"Austin, TX, USA"
100930,2016-12-16 01:03:02.073771+00,f,104036,josephyu28,joseph@penpalschools.com,Joseph,Yu,M,4,default-profile.svg,...,t,0,2016-09-30 13:45:20+00,NaN,NaN,NaN,State College,PA,United States,"State College, PA, USA"

In [173]:
userComb=userComb[userComb.tier!=4]

In [174]:
userComb.describe(include=['O'])

,last_login,is_superuser,username,email,first_name,last_name,gender,img,bio,stripe_id,...,dob,email_verified,img_activity,street_line1,street_line2,zipcode,city,state,country,formatted_address
count,127471,127471,127471,52640,97649,95662,93451,127467,15646,57,...,127471,127471,127471,585,5,3971,24925,25632,127463,27107
unique,127465,1,127471,50728,27800,3444,2,23026,15150,57,...,95893,2,39787,433,1,2355,6691,1846,308,10189
top,2015-10-13 15:12:18.20282+00,f,KateNic,porurpenpal@gmail.com,Emily,M,F,default-profile.svg,Teacher,cus_9rpzLyBlQNoNUA,...,2015-03-20 03:20:34.472988+00,f,2016-09-09 04:17:40.075083+00,New York,,48118,Austin,TX,None,"Austin, TX, USA"
freq,2,127471,1,81,457,7363,48931,75449,73,1,...,9243,122409,87649,21,5,62,478,1192,100363,344

# colums:
'last_login', 'is_superuser', 'id', 'username', 'email',
       'first_name', 'last_name', 'gender', 'tier', 'img', 'bio',
       'stripe_id', 'is_staff', 'is_active', 'date_joined', 'dob',
       'email_verified', 'points', 'img_activity', 'street_line1',
       'street_line2', 'zipcode', 'city', 'state', 'country',
       'formatted_address'

In [177]:
userComb.groupby('stripe_id')['id','username'].count()

                     id  username
stripe_id
 cus_9jV0r7YqMmuujn   1         1
 cus_9jV23kA6jm9mda   1         1
cus_91YCgccMZOhNbZ    1         1
cus_91rKWextvIl3MS    1         1
cus_94dV9PkTgoSSHg    1         1
cus_95EeeYa1MS3fVS    1         1
cus_96uIk1He41SP2P    1         1
cus_99XbW3VSpUbO8i    1         1
cus_99kko8CA0ApOGJ    1         1
cus_99l90mvIpnEo4O    1         1
cus_9AiVKpCju61EeE    1         1
cus_9C8zvFgwHFRiOa    1         1
cus_9Du0MrUlhqvzDa    1         1
cus_9EgZ7KknUDjcmC    1         1
cus_9ErgjNkspJQyvc    1         1
cus_9F7l4cWPU7fu6e    1         1
cus_9HR1oyIqQJE7yv    1         1
cus_9Hg4QEl0HHZJjl    1         1
cus_9OXVO5i3wiLHGo    1         1
cus_9OZ9UWXQAj29rV    1         1
cus_9Rvj9dFVh7UnMk    1         1
cus_9StV44YLgKa2Eo    1         1
cus_9TusvVVdGD7ehW    1         1
cus_9UNnXZrFimYSC5    1         1
cus_9VvmqyoBioS7l5    1         1
cus_9XNEnUdZQqpUz5    1         1
cus_9XajlyS3fdxVLM    1         1
cus_9YhtzqIOd007Qb    1         1
cus_9fJTdwaNSbPuSB    1         1
cus_9g1f2nMdaLYhMU    1         1
cus_9gjyWUd27o8plL    1         1
cus_9hvzaMslPduJfJ    1         1
cus_9iFHSjShYHpols    1         1
cus_9jKSTzdjLEfx3m    1         1
cus_9jUzW1C20m426V    1         1
cus_9jV0UUCeSFMWpm    1         1
cus_9jV15R7iJxCBGV    1         1
cus_9jw5ZIoAh9t12j    1         1
cus_9mnVeI5K3RYd5R    1         1
cus_9osxuDHWcGk36t    1         1
cus_9qrICfVEHuykFo    1         1
cus_9rLJgUGQ1419RI    1         1
cus_9rd3HOYlUWs1iC    1         1
cus_9rpzLyBlQNoNUA    1         1
cus_9sPTbmAHtiOwn4    1         1
cus_9tceOgUvJblemh    1         1
cus_9ttMrkvyCQv63M    1         1
cus_9uKZCCPagu2wyA    1         1
cus_9ugxDTJ4equNuc    1         1
cus_9vAp1hQo7gRrdi    1         1
cus_9vP23nMUPXAvyX    1         1
cus_9vQ7UHfUes3Cu9    1         1
cus_9wJCn8zPNUbEr9    1         1
cus_9wYcG1E04n0yLY    1         1
cus_9wvkJKmNkbIJkB    1         1
cus_9wvkn6yAx8U2B8    1         1
cus_9xHf9rUR9iL7zq    1         1

Each of 57 user has their own unique strip id. So I can delete this colunm and add a new colunm to show if a user has strip.

In [ ]:
userComb=

The useful files are:
<p>
"data/course_classroom.csv","data/course_match.csv","data/course_match_student_match.csv",
"data/course_questionresponse.csv","data/course_questionresponse_new_response.csv",
"data/course_questionresponse_new_subresponse.csv","data/course_subquestionresponse.csv",
"data/user_app_address.csv","data/user_app_customuser.csv","data/user_messages_message.csv".
</p>

In [6]:
files=["data/course_match.csv","data/course_questionresponse.csv","data/course_questionresponse_new_response.csv","data/course_questionresponse_new_subresponse.csv","data/course_subquestionresponse.csv","data/user_app_address.csv","data/user_app_customuser.csv","data/user_messages_message.csv"]

In [7]:
def printFile(filePath):
    with open(filePath,'r') as f:
        #data = pd.read_csv(f,delim_whitespace=True,header=None,error_bad_lines=False)
        data = pd.read_csv(f)
        print "=================",filePath,"================="
        #print "summary:\n",data.describe(),"\n\nhead:"
        print data.head(10),'\n'
        #return data

In [8]:
for fi in files:
    printFile(fi)

================= data/course_match.csv =================
      id  student_id  classroom_id  \
0  97395      123884        8253.0
1  99041      125418        7989.0
2  12327       17867        1998.0
3  12632       18857        1911.0
4  45091       60318        4072.0
5     50         154          69.0
6     44         148          69.0
7     32         134          69.0
8     34         138          69.0
9  12180       18321        1965.0

                                               intro new_match  age  \
0                Australia beacause they have coalas         f   13
1       Paris, France because it's the city of love.         f   13
2  We are a free country.\nWe drink water.\nWe bo...         t   13
3                                                NaN         t   15
4                                Watch a hockey game         t   10
5                                                NaN         f   12
6                                                NaN         f   12
7                                                NaN         f   12
8                                                NaN         f   12
9              we eat the same food as others places         t   11

  course_start_date target_start_date  course_id         skill state  \
0        2017-01-09        2017-01-09         15  Intermediate   NaN
1        2017-01-09        2017-01-09         14  Intermediate    FL
2        2015-05-25        2015-08-31          1      Beginner    AL
3               NaN        2015-08-31          1      Beginner    TX
4        2016-02-01        2016-01-18         11      Beginner    OR
5        2015-01-12        2015-01-12          1      Beginner   IL
6        2015-01-12        2015-01-12          1      Beginner   IL
7        2015-01-12        2015-01-12          1      Beginner   IL
8        2015-01-12        2015-01-12          1      Beginner   IL
9        2015-04-06        2015-08-26          1      Beginner    IA

         country                       activity  points pledge
0        Denmark  2017-01-26 09:03:08.858457+00     300      t
1  United States  2017-01-25 19:19:34.060776+00     300      t
2  United States  2015-08-30 19:15:09.928069+00     150      f
3  United States  2015-08-30 19:14:26.770596+00       0      f
4  United States   2016-01-29 20:15:01.09436+00     100      f
5  United States  2015-07-13 03:56:18.042467+00      25      f
6  United States  2015-07-13 03:56:18.042467+00      25      f
7  United States  2015-07-13 03:56:18.042467+00      25      f
8  United States  2015-07-13 03:56:18.042467+00      25      f
9  United States  2015-08-30 19:15:03.761284+00     100      f

================= data/course_questionresponse.csv =================
       id                        created                       modified  \
0       2  2015-01-12 18:31:50.344312+00  2015-01-12 18:31:54.440605+00
1       5  2015-01-12 18:32:37.276155+00  2015-01-12 18:32:37.282585+00
2       6  2015-01-12 18:33:19.903515+00  2015-01-12 18:33:19.934264+00
3  172014   2015-11-17 17:12:30.96388+00  2015-11-17 17:12:30.964101+00
4       8  2015-01-12 18:33:47.394602+00  2015-01-12 18:33:47.401315+00
5  178385   2015-11-20 19:23:19.98555+00  2015-11-20 19:23:19.985781+00
6      12  2015-01-12 18:35:19.214193+00  2015-01-12 18:35:19.220644+00
7  188776  2015-11-30 21:12:11.243468+00  2015-11-30 21:12:11.243811+00
8  189468  2015-12-01 03:22:47.879853+00  2015-12-01 03:22:47.880071+00
9      32  2015-01-13 01:34:13.846271+00  2015-01-13 01:34:13.852941+00

   match_id  question_id                                               text  \
0      2711         93.0                  global warning is melting the ice
1      2728         93.0       cuse theres camicle wast going in to the air
2      2711         92.0  i would save them by giving them proper needs ...
3     21614        607.0  There would be a picture of me playing shortst...
4      2728         92.0  stop and pick some up so they canlive longer a...
5     29877        577.0                        Because we are all the same
6      2728         76.0  is it cold in canda cuse it is here what is th...
7     26923        394.0                                      art, music...
8     27045        399.0                                        Pop culture
9      3111         30.0  Saving sea otters can affect the environment p...

   unit_id
0      1.0
1      1.0
2      1.0
3      6.0
4      1.0
5     52.0
6      1.0
7     43.0
8     44.0
9      1.0

================= data/course_questionresponse_new_response.csv =================
       id  questionresponse_id  match_id
0       1               380280     67460
1  399166               498955     90419
2   96433               406595     64826
3  115378               411807     76649
4  115379               411807     72798
5   96435               406595     64836
6       7               380281     67661
7       8               380282     67454
8       9               380282     66796
9  115380               411807     77646

================= data/course_questionresponse_new_subresponse.csv =================
       id  questionresponse_id  match_id
0   25419               391297     66962
1       2               379775     70537
2   25420               391297     67053
3   71916               435442     82687
4   25422               391297     67388
5       6               379413     70537
6    7723               385427     73015
7  132264               487702     85865
8   25747               396214     74268
9      10               379549     70621

================= data/course_subquestionresponse.csv =================
   id                        created                       modified  match_id  \
0   1  2015-08-18 14:39:04.842977+00  2015-08-18 14:39:04.845993+00      9978
1   2  2015-08-18 14:41:57.089341+00  2015-08-18 14:41:57.092381+00      9978
2   8  2015-08-20 17:17:55.361397+00  2015-08-20 17:17:55.364388+00     10136
3   9  2015-09-10 21:58:09.592454+00  2015-09-10 21:58:09.595085+00     14074
4  13  2015-09-25 18:17:47.240061+00  2015-09-25 18:17:47.242734+00     16263
5  14  2015-09-25 18:21:29.537575+00  2015-09-25 18:21:29.540349+00     16263
6  15  2015-09-25 18:22:37.231367+00  2015-09-25 18:22:37.233998+00     16263
7  16   2015-09-28 20:16:39.90144+00  2015-09-28 20:16:39.901826+00     14598
8  17  2015-09-28 20:17:06.777288+00  2015-09-28 20:17:06.777527+00     14598
9  18  2015-09-28 20:18:07.384153+00  2015-09-28 20:18:07.384487+00     14598

   response_id                                               text
0        55940  Russia has the highest obesity rate in the wor...
1        55941  Youre right there are some good Russian restau...
2        56281  I agree. When the British colonized Kenya they...
3        59145  I agree, many people care about wildlife and a...
4        72430  I honestly believe that people don't/won't pro...
5        72435  I agree with you because if you research the m...
6        72445                                 Refineries and Oil
7        76593  We get around by car, foot, bike, motercycle, ...
8        76593            I love to play ulitment frisbee and run
9        76597  I think the hardest part is finding a stable g...

/Users/Wenbo/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

================= data/user_app_address.csv =================
   id street_line1 street_line2 zipcode       city     state          country  \
0   2          NaN          NaN     NaN         SF       CA    United States
1   3          NaN          NaN     NaN    Watford  England   United Kingdom
2   4          NaN          NaN     NaN     Austin       TX    United States
3   5          NaN          NaN     NaN     Austin       TX    United States
4   6          NaN          NaN     NaN         CF       NaN       Argentina
5   7          NaN          NaN     NaN        NaN       NaN             None
6   8          NaN          NaN     NaN        NaN       NaN             None
7   9          NaN          NaN     NaN        NaN       NaN             None
8  39          NaN          NaN     NaN  Wadsworth        IL    United States
9  11          NaN          NaN     NaN        NaN       NaN             None

             formatted_address        lat         lng
0      San Francisco, CA, USA   37.774929 -122.419415
1  Watford, Hertfordshire, UK   51.656489   -0.390320
2             Austin, TX, USA   30.267153  -97.743061
3             Austin, TX, USA   30.267153  -97.743061
4     Buenos Aires, Argentina  -34.603684  -58.381559
5                          NaN        NaN         NaN
6                          NaN        NaN         NaN
7                          NaN        NaN         NaN
8           Wadsworth, IL, USA  42.428632  -87.923965
9                          NaN        NaN         NaN

================= data/user_app_customuser.csv =================
                                            password  \
0  pbkdf2_sha256$12000$Wf2vl1BrW9WX$ZfVHGrNWLRq6D...
1  pbkdf2_sha256$12000$cPQMz5fraEOn$1OsUaJ0VVtoaR...
2  pbkdf2_sha256$12000$cEHyyRBX7on0$qWWTL9NIJSRhT...
3  pbkdf2_sha256$12000$AndikQI7dHS2$LPNBYi3YTk/5c...
4  pbkdf2_sha256$12000$rwSFwTZ6FUnI$rl//4QjOHtJF4...
5  pbkdf2_sha256$12000$xmsQel2yqXla$ASQa/PoecRyXe...
6  pbkdf2_sha256$12000$17PGTdCX3QLc$iMmX6OMe1SN8+...
7  pbkdf2_sha256$12000$40GCeGqPbWdU$7sx9KGhS1hhJA...
8  pbkdf2_sha256$12000$qqe4fk9guBUk$gMGK4enKdJduT...
9  pbkdf2_sha256$12000$TzR22TYQ4bO2$5lkTTkBRIOnSc...

                      last_login is_superuser     id     username  \
0  2015-01-26 23:17:29.798899+00            f   4950        Sonya
1  2015-01-02 01:35:32.875542+00            f      9      Brankoe
2  2015-01-06 14:36:01.970408+00            f    437  john.porter
3  2015-01-27 15:36:51.889319+00            f   5014     Hannah77
4  2015-04-14 17:21:45.903994+00            f  12093   Mercedes77
5  2014-12-31 03:52:34.318484+00            f      2         Zhuf
6  2014-12-31 15:14:49.786013+00            f      3    oxheywood
7  2015-01-27 19:56:40.499636+00            f   5066     Byrock07
8  2015-01-28 03:13:35.913577+00            f   5079       rongar
9  2015-01-03 11:40:08.603636+00            f     31     ruby2007

                    email first_name last_name gender  tier  \
0     sonyafb@hotmail.com      Sonya  figueroa    NaN     2
1                     NaN     Branko         E      M     1
2                     NaN       John         P      M     1
3                     NaN     Hannah         M    NaN     1
4                     NaN   Mercedes       NaN      F     1
5          zhuf@sfusd.edu  Fengsheng       Zhu    NaN     2
6  mikki.caplan@gmail.com      Mikki    Caplan    NaN     2
7                     NaN      Byron         B      M     1
8                     NaN     Ronald         G      M     1
9                     NaN      Subin         L      F     1

               ...                \
0              ...
1              ...
2              ...
3              ...
4              ...
5              ...
6              ...
7              ...
8              ...
9              ...

                                                 bio primary_address_id  \
0                                                NaN             4949.0
1                                                NaN                9.0
2                                                NaN              437.0
3  I love to play volleyball, study marine life, ...             5013.0
4                                                NaN            11531.0
5                                                NaN                2.0
6                                                NaN                3.0
7                                                NaN             5065.0
8                                                NaN             5078.0
9                                                NaN               31.0

   stripe_id is_staff is_active                    date_joined  \
0        NaN        f         t  2015-01-26 23:17:29.798899+00
1        NaN        f         t  2015-01-02 01:35:32.875542+00
2        NaN        f         t  2015-01-06 14:36:01.970408+00
3        NaN        f         t     2015-01-27 15:36:51.889+00
4        NaN        f         t  2015-04-14 17:21:45.903994+00
5        NaN        f         t  2014-12-31 03:52:34.318484+00
6        NaN        f         t  2014-12-31 15:14:49.786013+00
7        NaN        f         t  2015-01-27 19:56:40.499636+00
8        NaN        f         t  2015-01-28 03:13:35.913577+00
9        NaN        f         t  2015-01-03 11:40:08.603636+00

                             dob email_verified points  \
0  2015-03-20 03:20:34.472988+00              f      0
1  2015-03-20 03:20:34.472988+00              f      0
2  2015-03-20 03:20:34.472988+00              f      0
3  2015-03-20 03:20:34.472988+00              f      0
4         2002-01-01 00:00:00+00              f      0
5  2015-03-20 03:20:34.472988+00              f      0
6  2015-03-20 03:20:34.472988+00              f      0
7  2015-03-20 03:20:34.472988+00              f      0
8  2015-03-20 03:20:34.472988+00              f      0
9  2015-03-20 03:20:34.472988+00              f      0

                    img_activity
0  2016-09-09 04:17:40.075083+00
1  2016-09-09 04:17:40.075083+00
2  2016-09-09 04:17:40.075083+00
3  2016-09-09 04:17:40.075083+00
4  2016-09-09 04:17:40.075083+00
5  2016-09-09 04:17:40.075083+00
6  2016-09-09 04:17:40.075083+00
7  2016-09-09 04:17:40.075083+00
8  2016-09-09 04:17:40.075083+00
9  2016-09-09 04:17:40.075083+00

[10 rows x 21 columns]

================= data/user_messages_message.csv =================
   id  room_id                                               body  sender_id  \
0   6        4  Is the government where you live running smoot...       5717
1   7        7  According to the article, Canada scientists fi...       6700
2   8        6  "According to the article, Canada scientists f...       6699
3   9        7  Imagine you held a place of power in your gove...       6700
4  11        7  Ask your PenPal a question about what the gove...       6700
5  12        8  According to the article, Canada scientists fi...       6694
6  13       12                                          Hello! :)       5292
7  14        6  Imagine you held a place of power in your gove...       6699
8  15        6  Ask your PenPal a question about what the gove...       6699
9  16       11  Imagine you held a place of power in your gove...       6696

                         sent_at deleted
0  2015-03-26 23:24:18.314082+00       f
1  2015-03-27 15:20:53.804654+00       f
2  2015-03-27 15:24:46.994541+00       f
3   2015-03-27 15:25:16.21155+00       f
4  2015-03-27 15:28:56.374408+00       f
5  2015-03-27 15:29:22.349769+00       f
6  2015-03-27 15:33:12.681731+00       f
7  2015-03-27 15:36:54.755049+00       f
8  2015-03-27 15:38:58.068763+00       f
9  2015-03-27 15:40:47.883934+00       f

/Users/Wenbo/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

#### First, how to define active and inactive stuent?
<p>I would like to use messages tables and response tables. The word count ,the frequency, the amount of total response, etc data will be used to identify whether a student is activie or not.</p>
#### Second, what I should use for classification?
<p>their profile data. Because Joe said they want to classify the student before the matching/class </p>

### data/course_match.csv
Select most of columns and see if there is a trends.

In [2]:
data_1=pd.read_csv("data/course_match.csv",usecols=['student_id','intro','new_match','age','course_start_date','target_start_date','skill','state','country','activity','points','pledge'])

#### ? Don't know pledge. Also the id in original csv file.

In [3]:
data_1.head()

,student_id,intro,new_match,age,course_start_date,target_start_date,skill,state,country,activity,points,pledge
0,123884,Australia beacause they have coalas,f,13,2017-01-09,2017-01-09,Intermediate,NaN,Denmark,2017-01-26 09:03:08.858457+00,300,t
1,125418,"Paris, France because it's the city of love.",f,13,2017-01-09,2017-01-09,Intermediate,FL,United States,2017-01-25 19:19:34.060776+00,300,t
2,17867,We are a free country.\nWe drink water.\nWe bo...,t,13,2015-05-25,2015-08-31,Beginner,AL,United States,2015-08-30 19:15:09.928069+00,150,f
3,18857,NaN,t,15,NaN,2015-08-31,Beginner,TX,United States,2015-08-30 19:14:26.770596+00,0,f
4,60318,Watch a hockey game,t,10,2016-02-01,2016-01-18,Beginner,OR,United States,2016-01-29 20:15:01.09436+00,100,f

In [4]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91259 entries, 0 to 91258
Data columns (total 12 columns):
student_id           91259 non-null int64
intro                74651 non-null object
new_match            91259 non-null object
age                  91259 non-null int64
course_start_date    76007 non-null object
target_start_date    91259 non-null object
skill                91259 non-null object
state                89681 non-null object
country              91248 non-null object
activity             91259 non-null object
points               91259 non-null int64
pledge               91259 non-null object
dtypes: int64(3), object(9)
memory usage: 8.4+ MB

In [5]:
data_1.describe()

          student_id           age        points
count   91259.000000  91259.000000  91259.000000
mean    71835.266878     12.593476    203.267075
std     36299.815653     26.125831    127.896151
min        88.000000    -71.000000      0.000000
25%     38751.500000     11.000000    100.000000
50%     75364.000000     12.000000    200.000000
75%    102613.500000     14.000000    300.000000
max    130738.000000   1996.000000    450.000000

#### Hypothesis
There is 91259 records, 74651 of them have introduction, 76007 have course_start_date, 89681 have state. SO:
<li>Not all records has "state" maybe because states are not available for some foreign contry.</li>
<li>? need to know why there are some records with no course_start_date.</li>
<li> some students may have no introduction.</li>
And from the statistic data:
<li> Age data has some problems: the min value should not be negative; the max value should not be 1996, which could be born year.</li>

In [ ]:
data_1.pop()

In [9]:
data_2 = pd.read_csv("data/course_questionresponse.csv")
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445977 entries, 0 to 445976
Data columns (total 7 columns):
id             445977 non-null int64
created        445977 non-null object
modified       445977 non-null object
match_id       445977 non-null int64
question_id    255484 non-null float64
text           445973 non-null object
unit_id        255484 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 23.8+ MB

In [10]:
data_2.describe()

                  id       match_id    question_id        unit_id
count  445977.000000  445977.000000  255484.000000  255484.000000
mean   293172.854874   50610.124193     415.205876      32.390005
std    157232.444675   28513.655944     258.006175      21.902441
min         2.000000      32.000000       2.000000       1.000000
25%    163848.000000   25333.000000     131.000000       4.000000
50%    300091.000000   49898.000000     393.000000      40.000000
75%    428269.000000   75802.000000     701.000000      43.000000
max    556424.000000  104177.000000     732.000000      96.000000

#### Question
question response only has match_id, what does id means? How can I know the response is made by whom? So I must use match table to find match id and student id?